In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
#the time given in the dataset is in string format.
#So we need to change this in datetime format
def del_slash(values):
    return values.split('/')
     

def del_stick(values):
    return values.split('|')
    

def len_value(values):
    return len(values)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'  # "+"
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == max(data.budget)].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals' # "+"

In [9]:
data[data.runtime == max(data.runtime)].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh'  # "+"

In [11]:
data[data.runtime == min(data.runtime)].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '110'  # "+"

In [13]:
round(data.runtime.mean())

110

# 5. Каково медианное значение длительности фильмов?

In [14]:
answers['5'] = '107' # "+"

In [15]:
data.runtime.median()

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [16]:
answers['6'] = 'Avatar' # "+"

In [17]:
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [18]:
answers['7'] = 'The Lone Ranger' # "+"

In [19]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [20]:
answers['8'] = '1478' # "+"

In [21]:
len(data[data.profit > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [22]:
answers['9'] = 'The Dark Knight' # "+"

In [23]:
group2008 = data[data.release_year == 2008]
group2008[group2008.revenue == group2008.revenue.max()].original_title

599    The Dark Knight
Name: original_title, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [24]:
answers['10'] = 'The Lone Ranger' # "+"

In [25]:
group12_14 = data[(data.release_year <= 2014) & (data.release_year >= 2012)]
group12_14[group12_14.profit == group12_14.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

# 11. Какого жанра фильмов больше всего?

In [26]:
answers['11'] = 'Drama' # "+"

In [27]:
list_genres = data.genres.values
list_genres1 = []
for el in list_genres:
    list_genres1 += del_stick(el)
count_genres = pd.Series(list_genres1)
count_genres.value_counts()
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
answers['12'] = 'Drama' # "+"

In [29]:
list_genres = data[data.profit > 0].genres.values
list_genres1 = []
for el in list_genres:
    list_genres1 += del_stick(el)
count_genres = pd.Series(list_genres1)
count_genres.value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [30]:
answers['13'] = 'Peter Jackson' # "+"

In [31]:
data.groupby('director').sum().revenue.sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
answers['14'] = 'Robert Rodriguez' # "+"

In [33]:
data_act = data[data.genres.str.contains('Action')].director
list_directors = []
for el in data_act:
    list_directors += el.split('|')
count_directors = pd.Series(list_directors)
count_directors.value_counts().head(1)

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
answers['15'] = 'Chris Hemsworth' # "+"

In [35]:
data2012 = data[data.release_year==2012]
data2012_high_revenue = data2012[data2012.revenue>data2012.revenue.mean()]
data2012_high_revenue['cast'] = data2012_high_revenue['cast'].apply(del_stick)
cast_df = data2012_high_revenue.explode('cast')
cast_df.groupby('cast').revenue.sum().sort_values(ascending = False).head(1)

C:\Users\HeadR\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

cast
Chris Hemsworth    1916157910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
answers['16'] = 'Matt Damon' # "+"

In [37]:
data16 = pd.read_csv('movie_bd_v5.csv')
data16['cast'] = data16['cast'].apply(del_stick)
high_budget = data16[data16.budget > data16.budget.mean()]
high_budget.explode('cast').cast.value_counts().head(1)

Matt Damon    18
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
answers['17'] = 'Action' # "+"

In [39]:
data17 = pd.read_csv('movie_bd_v5.csv')
data_NC = data17[data17.cast.str.contains('Nicolas Cage')]
list_genres = data_NC.genres.values  # Список жанров фильмов с Nicolas Cage
list_genres1 = []
for el in list_genres:
    list_genres1 += del_stick(el)
    
pd.Series(list_genres1).value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Animation           3
Family              3
Mystery             3
History             2
Horror              1
Romance             1
War                 1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
answers['18'] = 'K-19: The Widowmaker' #"+"

In [41]:
data_param = data[data.production_companies.str.contains('Paramount Pictures')]
data_param[data_param.profit == data_param.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
answers['19'] = '2015' #"+"

In [43]:
data.groupby('release_year').sum().revenue.sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
answers['20'] = '2014' #"+"

In [45]:
data_WB = data[data.production_companies.str.contains('Warner Bros')]
data_WB.groupby('release_year').sum().profit.sort_values(ascending = False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [46]:
answers['21'] = '9' #"+"

In [47]:
data21 = pd.read_csv('movie_bd_v5.csv')
data21['release_date'] = data21['release_date'].apply(del_slash).apply(lambda x: x[0]) # Оставим только номерное значение месяца
data21.release_date.value_counts()

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
 answers['22'] = '450'  #"+"

In [62]:
data22 = pd.read_csv('movie_bd_v5.csv')
data22['release_date'] = data22['release_date'].apply(del_slash).apply(lambda x: x[0])  # Оставим только номерное значение месяца

per_month = data22.release_date.value_counts()
summer = per_month['6'] + per_month['7'] + per_month['8']
summer

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
 answers['23'] = 'Peter Jackson'   #"+"

In [51]:
data23 = pd.read_csv('movie_bd_v5.csv')
data23['release_date'] = data23['release_date'].apply(del_slash).apply(lambda x: x[0]) # Оставим только номерное значение месяца

data23_winter = data23.query("release_date in ['1','2', '12']")  # Оставим зимние месяцы
data23_winter['director'] = data23_winter['director'].apply(del_stick)
director_df = data23_winter.explode('director')
director_df.director.value_counts()

C:\Users\HeadR\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

Peter Jackson                     7
Steven Soderbergh                 6
Clint Eastwood                    6
Adam Shankman                     4
Nancy Meyers                      4
                                 ..
Alejandro GonzÃ¡lez IÃ±Ã¡rritu    1
Rob Letterman                     1
Francine McDougall                1
Andy Fickman                      1
Gus Van Sant                      1
Name: director, Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
answers['24'] = 'Four By Two Productions'  #"+"

In [53]:
data24 = pd.read_csv('movie_bd_v5.csv')
data24['original_title'] = data24.original_title.apply(len_value)
data24['production_companies'] = data24['production_companies'].apply(del_stick)
companies_df = data24.explode('production_companies')
companies_df.groupby('production_companies').original_title.mean().sort_values(ascending = False).head()

production_companies
Four By Two Productions      83.0
Jim Henson Company, The      59.0
Dos Corazones                47.0
Museum Canada Productions    46.0
Polsky Films                 46.0
Name: original_title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
answers['25'] = 'Midnight Picture Show'  #"+"

In [55]:
data25 = pd.read_csv('movie_bd_v5.csv')
data25['overview'] = data25.overview.apply(lambda x: x.split()).apply(len_value) # вывод количества слов в описании
data25['production_companies'] = data25['production_companies'].apply(del_stick)
companies_df = data25.explode('production_companies')
companies_df.groupby('production_companies').overview.mean().sort_values(ascending = False).head()

production_companies
Midnight Picture Show               175.0
Room 9 Entertainment                161.0
98 MPH Productions                  159.0
Heineken Branded Entertainment      159.0
Brookwell-McNamara Entertainment    156.0
Name: overview, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'  #"+"

In [57]:
top = data.sort_values(['vote_average'], ascending=False) # сортировка по убыванию рейтинга
k = round(len(top)*0.01) # количество 1% лучших фильмов 
top.original_title[:k]

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
863             The Lord of the Rings: The Two Towers
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'  #"+"

In [59]:
import itertools
data27 = pd.read_csv('movie_bd_v5.csv')
data27['cast'] = data27['cast'].apply(del_stick)
cast_df = data27['cast'].reset_index()
cast_df['pairs'] = cast_df['cast'].apply(lambda s: list(itertools.combinations(s, 2))) # создание пар актеров 
cast_df = cast_df.explode('pairs')
cast_df.pairs.value_counts().head()

(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Rupert Grint, Emma Watson)            7
(Ben Stiller, Owen Wilson)             6
(Johnny Depp, Helena Bonham Carter)    6
Name: pairs, dtype: int64

ВАРИАНТ 2

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': '110',
 '5': '107',
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': '1478',
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27